@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
$font1 :'Roboto',
sans-serif;
$font2 :"Aclonica",
sans-serif;

@mixin screen1800 {
    @media only screen and (max-width:1800px) {
        @content;
    }
}

@mixin screen1700 {
    @media only screen and (max-width:1700px) {
        @content;
    }
}

@mixin screen1500 {
    @media only screen and (max-width:1500px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width:1280px) {
        @content;
    }
}


.main {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: 0.4s;

    &_active {
        height: 65px;
    }

    &_header {
        height: 56px;

        &.active {
            position: fixed;
            top: 0;
            background-color: rgb(0, 0, 0);
            z-index: 100;
        }


        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0% 5%;

        &_logo {


            img {
                width: 20px;
                height: 20px;
            }
        }

        &_content {

            ul {
                display: flex;

                li {
                    list-style-type: none;
                }
            }

            &_href {
                display: block;
                padding: 22px 20px;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                color: black;
                font-weight: 500;
                font-size: 17px;



                &.active {
                    color: rgb(249, 249, 249) !important;

                }
            }
        }

        &_login {
            display: flex;
            justify-content: space-between;
            width: 13%;
            align-items: center;

            @include screen1800() {
                display: flex;
            }


            &_cart {
                cursor: pointer;
                position: relative;

                &_noti {
                    i {}

                    div {
                        position: absolute;
                        top: -37%;
                        right: -36%;
                        background-color: rgb(117, 32, 32);
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 11px;
                            color: white;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }


            @include screen1700() {
                width: 15%;
            }

            @include screen1500() {
                width: 20%;
            }

            button {
                padding: 7px 15px;
                border: none;
                background-color: black;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;

                &.active {
                    background-color: white;
                }
            }
        }


    }
}

@keyframes scrollHeader {
    0% {
        transform: translateY(-5px);
        height: 56px;
    }

    100% {
        transform: translateY(0px);
        height: 65px;
    }
}

@keyframes scrollHeader2 {
    0% {

        position: fixed;
        top: 3px;
        background-color: rgb(0, 0, 0);
    }

    50% {

        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

}

.mouse {
    ul {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        z-index: 1000;
    }

    &:hover>ul {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.cart_popup {


    background-color: white;
    position: fixed;
    overflow: auto;
    right: 0;
    top: 0;
    z-index: 100;
    width: 30%;
    height: 100%;
    right: -30%;
    transition: 0.5s;

    &_close {
        position: absolute;
        left: 93%;
        top: 1%;
        cursor: pointer;
        user-select: none;
    }

    &.active {
        right: 0%;
    }

    &_header {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgba(0, 0, 0, 0.253);
        padding-bottom: 12px;

        &_left {
            h1 {
                display: block;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
            }

            h6 {
                display: block;
                margin: 5px 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 400;
            }

            h5 {
                display: block;
                margin: 12px 0 0 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 400;
            }

            span {
                display: block;
                margin: 4px 0 0 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
            }
        }

        &_right {

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            &_top {
                display: block;
                margin: 12px 0 0 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-decoration: underline;
                color: gray;
            }

            &_bottom {
                button {
                    padding: 12px 38px;
                    background-color: #F4C500;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    &_freeship {}

    &_container {
        padding: 12px 20px;
        // overflow: auto;

        &_item {
            display: flex;
            gap: 20px;

            &_left {}

            &_right {
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                width: 100%;

                &_close {
                    align-self: flex-end;
                    cursor: pointer;
                    user-select: none;
                    font-family: Arial, Helvetica, sans-serif;
                    top: 20%;
                    box-sizing: border-box;
                    font-size: 20px;
                    font-weight: 600;
                    width: 20px;
                    height: 20px;
                    border: 1px solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 12px 0 12px 0;
                }

                &_top {
                    display: block;
                    margin: 0px 0 12px 0;
                }

                &_bottom {
                    display: flex;
                    margin: 12px 0 12px 0;
                    justify-content: space-between;

                    width: 100%;
                    align-items: center;

                    &_quantity {
                        display: flex;

                        div:nth-child(1) {
                            width: 23px;
                            height: 30px;
                            border-left: 1px solid;
                            border-top: 1px solid;
                            border-bottom: 1px solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            user-select: none;
                        }

                        div:nth-child(2) {
                            width: 20px;
                            height: 30px;
                            border-top: 1px solid;
                            border-bottom: 1px solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }

                        div:nth-child(3) {
                            width: 23px;
                            height: 30px;
                            border-right: 1px solid;
                            border-top: 1px solid;
                            border-bottom: 1px solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            user-select: none;
                        }
                    }

                    &_price {}
                }
            }
        }
    }
}

.bgPopup {
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.searchProduct {
    position: relative;
    display: flex;
    align-items: center;
    width: 20%;

    input {
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.836);
        transition: 0.2s;

        &:focus {
            outline: none;
            border-radius: 3px;

        }
    }

    i {
        margin: 0 0 0 3%;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.801);
        cursor: pointer;
    }
}

.infoSearch {
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 1000;
    &_item {
        width: 100%;
        display: flex;
        margin: 2px 0;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.104);
        }

        img {
            width: 80px;
            margin: 0 3px;
            border-radius: 3px;
        }

        &_title {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

}