@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
.main {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: 0.4s;
}
.main_active {
  height: 65px;
}
.main_header {
  height: 56px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
}
.main_header.active {
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 100;
}
.main_header_logo img {
  width: 20px;
  height: 20px;
}
.main_header_content ul {
  display: flex;
}
.main_header_content ul li {
  list-style-type: none;
}
.main_header_content_href {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.main_header_content_href.active {
  color: rgb(249, 249, 249) !important;
}
.main_header_login {
  display: flex;
  justify-content: space-between;
  width: 13%;
  align-items: center;
}
.main_header_login_cart {
  cursor: pointer;
  position: relative;
}
.main_header_login_cart_noti div {
  position: absolute;
  top: -37%;
  right: -36%;
  background-color: rgb(117, 32, 32);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header_login_cart_noti div span {
  font-size: 11px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.main_header_login button {
  padding: 7px 15px;
  border: none;
  background-color: rgba(232, 92, 92, 0.422);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main_header_login button.active {
  background-color: white;
}

@keyframes scrollHeader {
  0% {
    transform: translateY(-5px);
    height: 56px;
  }
  100% {
    transform: translateY(0px);
    height: 65px;
  }
}
@keyframes scrollHeader2 {
  0% {
    position: fixed;
    top: 3px;
    background-color: rgb(0, 0, 0);
  }
  50% {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.mouse ul {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 1000;
}
.mouse:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.cart_popup {
  background-color: white;
  position: fixed;
  overflow: auto;
  right: 0;
  top: 0;
  z-index: 100;
  width: 30%;
  height: 100%;
  right: -30%;
  transition: 0.5s;
}
.cart_popup_close {
  position: absolute;
  left: 93%;
  top: 1%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cart_popup.active {
  right: 0%;
}
.cart_popup_header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding-bottom: 12px;
}
.cart_popup_header_left h1 {
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.cart_popup_header_left h6 {
  display: block;
  margin: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.cart_popup_header_left h5 {
  display: block;
  margin: 12px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.cart_popup_header_left span {
  display: block;
  margin: 4px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.cart_popup_header_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.cart_popup_header_right_top {
  display: block;
  margin: 12px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: gray;
}
.cart_popup_header_right_bottom button {
  padding: 12px 38px;
  background-color: #F4C500;
  border: none;
  color: white;
  cursor: pointer;
}
.cart_popup_container {
  padding: 12px 20px;
}
.cart_popup_container_item {
  display: flex;
  gap: 20px;
}
.cart_popup_container_item_right {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart_popup_container_item_right_close {
  align-self: flex-end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  top: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 12px 0;
}
.cart_popup_container_item_right_top {
  display: block;
  margin: 0px 0 12px 0;
}
.cart_popup_container_item_right_bottom {
  display: flex;
  margin: 12px 0 12px 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cart_popup_container_item_right_bottom_quantity {
  display: flex;
}
.cart_popup_container_item_right_bottom_quantity div:nth-child(1) {
  width: 23px;
  height: 30px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cart_popup_container_item_right_bottom_quantity div:nth-child(2) {
  width: 20px;
  height: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_popup_container_item_right_bottom_quantity div:nth-child(3) {
  width: 23px;
  height: 30px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.bgPopup {
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}
.bgPopup.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=headers.css.map */