body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

op {
  opacity: 0.5;
}

.containers {
  width: 100%;
}
.containers_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.containers_container_products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.containers_container_products_item img {
  width: 280px;
  height: 350px;
}
.containers_container_information_title h1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 2% 0;
}
.containers_container_information_title h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 3% 0;
}
.containers_container_information_title span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.containers_container_information_title_sale {
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: rgba(73, 73, 73, 0.466);
}
.containers_container_information_title_sale::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(73, 73, 73, 0.466);
  top: 45%;
}
.containers_container_information_title_text {
  position: relative;
  display: inline-block;
  color: rgb(189, 7, 7);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.containers_container_information_title_text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 45%;
  background-color: rgb(189, 7, 7);
}
.containers_container_information_color_content h1 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.containers_container_information_color_content span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.containers_container_information_color_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.containers_container_information_color_container_item {
  border-radius: 4px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}
.containers_container_information_color_container_item.active {
  border: 3px solid rgba(255, 165, 30, 0.767);
}
.containers_container_information_color_container_item:hover {
  border: 3px solid rgba(255, 165, 30, 0.767);
}
.containers_container_information_color_container_item img {
  width: 100%;
  height: 100%;
}
.containers_container_information_size {
  margin-top: 20px;
}
.containers_container_information_size_title span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.containers_container_information_size_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 5px;
}
.containers_container_information_size_content_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5254901961);
  background-color: rgba(128, 128, 128, 0.301);
}
.containers_container_information_size_content_item.hiddenSize {
  background-color: rgba(128, 128, 128, 0.205);
  color: rgba(128, 128, 128, 0.459);
  position: relative;
}
.containers_container_information_size_content_item.hiddenSize::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.568);
  border-radius: 4px;
  transform: rotate(24deg);
}
.containers_container_information_size_content_item.hiddenSize::before:hover {
  background-color: rgba(128, 128, 128, 0.849);
  color: rgba(128, 128, 128, 0.459);
}
.containers_container_information_size_content_item.hiddenSize:hover {
  background-color: rgba(128, 128, 128, 0.233);
  color: rgba(128, 128, 128, 0.459);
}
.containers_container_information_size_content_item:hover {
  background-color: #FEECC7;
  color: #fcaf17;
}
.containers_container_information_size_content_item.active {
  background-color: #fcaf17;
  color: white;
}
.containers_container_information_size_content_item span {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.containers_container_information_addCart {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.containers_container_information_addCart_quatity {
  display: flex;
  flex: 1;
}
.containers_container_information_addCart_quatity_prev {
  height: 30px;
  width: 40px;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers_container_information_addCart_quatity_prev div {
  position: absolute;
  width: 26%;
  height: 2px;
  background-color: black;
}
.containers_container_information_addCart_quatity span {
  display: block;
  height: 30px;
  width: 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers_container_information_addCart_quatity span h5 {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.containers_container_information_addCart_quatity_next {
  height: 30px;
  width: 40px;
  position: relative;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers_container_information_addCart_quatity_next div:nth-child(1) {
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: black;
}
.containers_container_information_addCart_quatity_next div:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 38%;
  background-color: black;
}
.containers_container_information_addCart_button {
  margin: 0 5% 0 0;
}
.containers_container_information_addCart_button button {
  cursor: pointer;
  background-color: #fcaf17;
  padding: 10px 9px;
  border: none;
  border-radius: 5px;
  color: white;
}
.containers_container_information_addCart_button button:hover {
  background-color: #FEECC7;
  color: #fcaf17;
}/*# sourceMappingURL=detailproduct.css.map */